*{
	margin:0;
	padding:0;
}
body{
	background:#ccc;
}
.game-box{
	width:695px;
	height: 500px;
	margin:10px auto;
	border:2px solid #4e7fe1;
	box-shadow: 0 0 6px #666;
	background:url(../images/111.jpg);
	position: relative;
}
.button-box{
	width: 300px;
	height: 30px;
	margin:0 auto;
	overflow: hidden;

}
.button-box .start,.button-box .pause{
	width: 80px;
	height: 30px;
	border-radius:8px;
	text-align: center;
	line-height: 30px;
	background: #4e7fe1;
	color:#fff;
	cursor: pointer;
}
.start{
	float:left;
}
.pause{
	float:right;
}
.plate{
	width: 120px;
	height: 20px;
	border-radius: 5px;
	background: #ccc;
	position: absolute;
	left:40%;
	/*margin-left:-60px;*/
	bottom:30px;
}
ul{
	margin-top:20px;
}

 li{
	list-style-type: none;
	float:left;
	width: 61px;
	height: 20px;
	margin:1px 1px;
}
.blue{
	background: #4e7fe1;
	border-radius: 2px;
}
.score-title{
	margin:8px 8px;
	width: 100%;
	overflow: hidden;
	color:#fff;
	font-size: 18px;
}
.number{
	width:200px;
	float:left;
}
.score{
	width: 100px;
	float:left;
	padding-left:100px;
}
.vita{
	width: 80px;
	padding-left:170px;
	float:left;
}
.daglog{
	width: 400px;
	height: 100px;
	border:2px solid #ccc;
	background: #fff;
	z-index: 100;
	position: absolute;
	left:50%;
	margin-left:-200px;
	top:50%;
	margin-top: -50px;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
	display: none;
}
.brick-box{
    float: left;
    width: 61px;
    height: 20px;
    margin: 1px 1px;
    background: #4e7fe1;
    border-radius: 2px ;
}