<div id="cartHeader" class="commonHeader">
	<div class="title">购物车头部</div>
</div>
<div id="cartContent">
	<ul id="proList">
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proNumber">
					<input type="button" value="-" />
					<span>1</span>
					<input type="button" value="+" />
				</p>
				<button>删除</button>
			</div>
		</li>
	</ul>
</div>




