<div id="homeHeader" class="commonHeader">
	<div class="title">ZXIU 走秀网</div>
</div>
<div id="homeContent">
	<div class="searchBox">
		<div class="searchShop" id="goSearch">
			<i class="iconfont">&#xe631;</i>
			请输入搜索内容
		</div>
	</div>
	<div class="swiper-container" id="homeBanner">
		<div class="swiper-wrapper" id="homeWrapper">
			<div class="swiper-slide">
				<img src="../image/banner1.jpg"/>
			</div>
			<div class="swiper-slide">
				<img src="../image/banner3.jpg"/>
			</div>
			<div class="swiper-slide">
				<img src="../image/banner2.jpg"/>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	
	<ul id="proList">
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
	</ul>
</div>




