<div id="kindHeader" class="commonHeader">
	<div class="title">分类头部</div>
</div>
<div id="kindContent">
	<ul id="classList">
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
		<li>衬衣</li>
	</ul>
	
	<ul id="proList">
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
		<li>
			<div class="proImg">
				<img src="../image/pic01.jpg"/>
			</div>
			<div class="proInfo">
				<p class="proTitle">
					商品名称商品名称商品名称商品名称商品名称
				</p>
				<p class="proPrice">
					￥ 12
				</p>
				<p class="proDiscount">
					6折
				</p>
				<button>加入购物车</button>
			</div>
		</li>
	</ul>
</div>




