<h1>这里是用户列表</h1>
<input type="text" ng-model="search" placeholder="按照用户名搜索"/>
总共{{totalNum}}页,每页显示<input  type="number" ng-model = "number"/>个
<button ng-repeat = "item in btnArr" ng-click="changeNum($index)">{{item}}</button>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>用户名称</th>
          <th>密码</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "item in list | filter: {username:search} | limitTo:number:number*pageNum">
          <th scope="row">{{number*pageNum + $index + 1}}</th>
          <td>{{item.username}}</td>
          <td>{{item.password}}</td>
          <td><button class="btn btn-xs btn-danger" ng-click = "deleteItem(item,$index)">×</button></td>
        </tr>
      </tbody>
    </table>
