<!DOCTYPE html>
<html >
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
    </head>
    <body>
        <div id="app">{{msg}}
            <button @click="even()" >更改</button>
            <ul>
                <li v-for= "(it,index) in arr" v-bind:index="index">{{it}}------{{index}}</li>
            </ul>
            <input type="text" v-model="msg"/>
            <input type="text" v-model="inp"/>
            <ul>
                <li v-for="item in arr4">{{item}} </li>
            </ul>
        </div>
        
    </body>
    <script>
        new Vue({
            el:"#app",
            data:{
                msg:"初始化数据",
                arr:[1,2,3,4,5],
                arr1:["red","orange","yellow","green","blue"],
                inp:"",
                arr4:["red","orange","yellow","green","blue"]
               
            },
            methods:{
                even(){
                    this.msg="更改数据"
                    console.log(this.msg)
                }
            },
            computed:{
                newarr1:function(){
                    arr2=[];
                    var that=this
                    this.arr1.forEach(function(it) {
                        if(it.indexOf(that.inp)!=-1){
                            arr2.push(it)
                        }
                    });
                    return arr2
                }
            },
            watch:{
                inp:function(new1,old){
                    console.log(new1,old);
                    this.arr4=[];
                   
                    var that = this;
                    this.arr1.forEach(function(it){
                        if(it.indexOf(new1)!=-1){
                            this.arr4.push(it)
                        }
                    },this)
                }
            }
            
        })
    </script>
</html>