@import "./main.scss";
#catcontent{
    width:100%;
    padding:20px auto 0;
    background: #f7f7f7;
    height: 100%;overflow: hidden;
    p{
        margin-top: 60px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    img{
        width: 50%;margin: 0 auto;
    }
    .guang{
        width: 60%;height: 50px;
        background: #e8376d;color: #fff;font-size: 30px;line-height: 50px;
        text-align: center;
        margin: 20px auto 0;
        border-radius: 8px;
    }
}
